@using MvcKutuphane.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "Giden";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<h2>Gönderilenler</h2>
<br />
<table class="table table-hover">
    <tr style="background: #DCDCDC">
        <th>ALICI</th>
        <th>KONU</th>
        <th>MESAJ</th>
        <th>TARİH</th>
    </tr>
    @foreach (var message in Model)
    {
        <tr>
            <td>@message.ALICI</td>
            <td>@message.KONU</td>
            <td>@message.ICERIK</td>
            <td>@Convert.ToDateTime(message.TARIH).ToString("MMM/dd/yyyy")</td>
        </tr>
    }
</table>