@using MvcKutuphane.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Mesajlar Sayfası</h2>
<br />
<table class="table table-hover" >
    <tr style="background: #DCDCDC">
        <th>GÖNDEREN</th>
        <th>KONU</th>
        <th>MESAJ</th>
        <th>TARİH</th>
    </tr>
    @foreach (var message in Model)
    {
        <tr>
            <td>@message.GONDEREN</td>
            <td>@message.KONU</td>
            <td>@message.ICERIK</td>
            <td>@Convert.ToDateTime(message.TARIH).ToString("MMM/dd/yyyy")</td>
        </tr>
    }
</table>

