@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Ekleme Sayfası</h2>
<br/>
<form class="form form-group" method="post">
    <div></div>
    <div style="margin-top: 15px"></div>
    <div>
        <label>Kategori Ad</label>
        <input type="text" class="form-control" name="AD"/>
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>